<div class='container' style='margin-left: 0rem;'>

  <div class='row py-2'>

    <div name='innerBoard' class='col-md-10 pl-0 pr-1 mx-auto'>
      <div class='jumbotron align-items-center my-0 p-2' style='height: 7rem;'>
        <div id='phase1Input' class='text-center d-none' >
          <h1 class='h2'>Your turn to submit clue</h1>
          <div class='input-group px-5'>
            <input type='text' class='form-control' placeholder='Clue' aria-label='clue submit' id='clueText' aria-describedby='clueSubmitButton' />
            <div class='input-group-append'>
              <button class='btn btn-primary' type='button' id='clueSubmitButton'>Submit</button>
            </div>
          </div>
        </div>
        <div id='clueTextDiv' class='text-center h-100'>
          <h1 class='h2 py-1'>try to match the clue!<br /><strong><h1 id='clueTextH1' class='h1 p-0 m-0'></h1></strong></h1>
        </div>
        <div id='phase1WaitText' class='text-center h-100 d-none'>
          <h1 class='h2 py-3'>waiting for clue...</h1>
        </div>
        <div id='leaderWaitingDiv' class='text-center h-100 d-none'>
          <h1 class='h2 py-3'>waiting for other players...</h1>
        </div>
        <div id='guessLeaderDiv' class='text-center h-100 d-none'>
          <h1 class='h2 py-1'>guess the storyteller's card<br /><strong><h1 id='clueTextPhase3' class='h1 p-0 m-0'></h1></strong></h1>
        </div>
        <div id='gameEndedDiv' class='text-center h-100 d-none'>
          <h1 class='h2 py-3'>the game has concluded</h1>
        </div>
      </div>
      <div class='row pr-2 pl-0 pt-4 justify-content-center' style='min-height: 4rem;'>
        <img id='tableauCard1' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 1);' />
        <img id='tableauCard2' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 2);' />
        <img id='tableauCard3' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 3);' />
        <img id='tableauCard4' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 4);' />
        <img id='tableauCard5' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 5);' />
        <img id='tableauCard6' src='' style='max-width: 13rem;' class='col p-2 d-none' onclick='selectFromHandOrTableau("TABLEAU", 6);' />
      </div>
    </div>

    <div name='chatCard' class='col-md-2 p-0 d-none d-xl-block'>
      <div class='card' style='height: 25rem; overflow: auto;'>
        <div id='chatScrollDiv' class='card-body p-1' style='overflow: auto;'></div>
        <div class='card-footer p-1'>
          <div class='input-group'>
            <input type='text' id='chatTextInput' class='form-control' aria-label='chat submit' aria-describedby='chatSubmitButton'/>
            <div class='input-group-append'>
              <button class='btn btn-outline-secondary' type='button' id='chatSubmitButton' onclick='chatSubmit();'>
                <img src='/images/feather/edit-3.svg'/>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='chatEntryDiv invisible'>
    <div class='chatEntryName font-weight-bold font-italic text-left p-0'></div>
    <div class='chatEntryText text-right p-0'></div>
    <hr class='m-0'/>
  </div>
</div>