<div class='container' class='ml-0 px-0'>
  <hr />
  <div class='row'>
    <div id='handDiv1' class='col p-2' onclick='selectFromHandOrTableau("HAND", 1);'>
      <img id='handCard1' src='' class='w-100' />
    </div>
    <div id='handDiv2' class='col p-2' onclick='selectFromHandOrTableau("HAND", 2);'>
      <img id='handCard2' src='' class='w-100' />
    </div>
    <div id='handDiv3' class='col p-2' onclick='selectFromHandOrTableau("HAND", 3);'>
      <img id='handCard3' src='' class='w-100' />
    </div>
    <div id='handDiv4' class='col p-2' onclick='selectFromHandOrTableau("HAND", 4);'>
      <img id='handCard4' src='' class='w-100' />
    </div>
    <div id='handDiv5' class='col p-2' onclick='selectFromHandOrTableau("HAND", 5);'>
      <img id='handCard5' src='' class='w-100' />
    </div>
    <div id='handDiv6' class='col p-2' onclick='selectFromHandOrTableau("HAND", 6);'>
      <img id='handCard6' src='' class='w-100' />
    </div>
  </div>
</div>