<div class='container p-0'>
  <nav class='navbar navbar-expand-lg navbar-light bg-light px-1'>
    <div class='collapse navbar-collapse justify-content-md-center'>

      <div id='playerScoreCard1' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore1'></button>
        </div>
        <input id='playerName1' type='text' class='form-control text-truncate' aria-describedby='playerScore1' readonly placeholder='<empty seat>'  />
      </div>

      <div id='playerScoreCard2' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore2'></button>
        </div>
        <input id='playerName2' type='text' class='form-control text-truncate' aria-describedby='playerScore2' readonly placeholder='<empty seat>'  />
      </div>

      <div id='playerScoreCard3' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore3'></button>
        </div>
        <input id='playerName3' type='text' class='form-control text-truncate' aria-describedby='playerScore3' readonly placeholder='<empty seat>'  />
      </div>

      <div id='playerScoreCard4' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore4'></button>
        </div>
        <input id='playerName4' type='text' class='form-control text-truncate' aria-describedby='playerScore4' readonly placeholder='<empty seat>'  />
      </div>

      <div id='playerScoreCard5' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore5'></button>
        </div>
        <input id='playerName5' type='text' class='form-control text-truncate' aria-describedby='playerScore5' readonly placeholder='<empty seat>'  />
      </div>

      <div id='playerScoreCard6' class='input-group col p-0 mr-1' style='max-width: 20%;' >
        <div class='input-group-prepend'>
          <button class='btn btn-secondary' type='button' id='playerScore6'></button>
        </div>
        <input id='playerName6' type='text' class='form-control text-truncate' aria-describedby='playerScore6' readonly placeholder='<empty seat>'  />
      </div>

    </div>
  </nav>
</div>