<div class='container p-0 mt-3'>
  <hr />
  <div id='turnHistory' class='card invisible' class='w-100'>
    <div class='card-body p-0'>
      <ul class='list-group historyParentUl'>
      </ul>
    </div>
  </div>
</div>

<div class='invisible'>
  <li class='list-group-item m-0 px-0 py-1 historyEntryTemplate'>
    <div class='row px-5 my-1 turnNumberMarker justify-content-center'></div>
    <div class='row contentParentDiv justify-content-center'>
      <div class='px-4 scoreTableParentDiv' style='max-width: 15rem;'>
        <table class='table table-bordered mb-0' >
          <thead><tr><th>player</th><th>&Delta;</th><th>=</th></tr></thead>
          <tbody>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
            <tr><td class='p-1 playerNameCell'></td><td class='p-1 text-center playerDeltaCell'></td><td class='p-1 text-center playerTotalCell'></td></tr>
          </tbody>
        </table>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'>
          </div>
        </div>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'>
          </div>
        </div>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'>
          </div>
        </div>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'>
          </div>
        </div>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'>
          </div>
        </div>
      </div>
      <div class='tabCardDiv px-2'>
        <div class='card' style='max-width: 7rem;'>
          <div class='card-header p-0 text-center'></div>
          <div class='card-body p-0'>
            <img src='' class='' style='max-width: 7rem;' />
          </div>
          <div class='card-footer p-0 text-center'></div>
        </div>
      </div>
    </div>
  </li>
</div>