.cursor-pointer {
  cursor: pointer;
}

.card_hover:hover {
  background-color: #17a2b8;
  border-radius: 1rem;
}

.card_select {
  background-color: #007bff;
  border-radius: 1rem;
}

.player_waiting {
  background-color: #6c757d;
}

.player_selecting {
  background-color: #007bff;;
}

.card_select_final {
  background-color: #dc3545;
  border-radius: 1rem;
}

.shaded_image {
  opacity: 65%;
}