<div id='lobby' class='container' v-cloak>
  <nav class='navbar navbar-default navbar-expand-md navbar-dark bg-dark'>
    <a href='/' class='navbar-brand mr-auto'>Fixit</a>
    <% if (!user) { %>
      <form class='form-inline my-2 my-lg-0' action='/' method='post'>
        <input type='text' class='form-control mr-sm-2' id='username' name='username' placeholder='Username' tabindex='1' />
        <input type='password' class='form-control mr-sm-2' id='password' name='password' placeholder='Password' tabindex='2' />
        <input class='btn btn-secondary my-2 my-sm-0 mr-sm-2' type='submit' name='action' value='Login' tabindex='3'/>
        <input class='btn btn-secondary my-2 my-sm-0 mr-sm-2' type='submit' name='action' value='Register' tabindex='4'/>
      </form>
    <% } else { %>
      <button type='button' class='btn btn-primary mr-sm-2' data-toggle='modal' data-target='#createGameModal'>
        Create New Game
      </button>
      <ul class='navbar-nav'>
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle' href='#' id='dropdown01' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><%= user.username %></a>
          <div class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdown01'>
            <a class='dropdown-item' href='/logout'>Logout</a>
          </div>
        </li>
      </ul>
    <% } %>
  </nav>
  <div class='lead'>
    <% if (errMsg) { %>
      <div class='alert alert-warning alert-dismissable fade show' role='alert'>
        <%= errMsg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <p class='my-0'>&nbsp</p>
  </div>
  <div class='container-sm'>
    <div class='table-responsive'>
      <ul class='nav nav-pills'>
        <li class='nav-item'>
          <h1 class='h2 mr-4'>Lobby</h1>
        </li>
        <li class='nav-item'>
          <a href='#' id='ALLTab' class='nav-link' onclick='setSelectedTab("ALL");'>All</a>
        </li>
        <li class='nav-item'>
          <a href='#' id='OPENTab' class='nav-link active' onclick='setSelectedTab("OPEN");'>Open</a>
        </li>
        <li class='nav-item'>
          <a href='#' id='OWNEDTab' class='nav-link' onclick='setSelectedTab("OWNED");'>Owned</a>
        </li>
        <li class='nav-item'>
          <a href='#' id='SEATEDTab' class='nav-link' onclick='setSelectedTab("SEATED");'>Seated</a>
        </li>
        <li class='nav-item'>
          <a href='#' id='CLOSEDTab' class='nav-link' onclick='setSelectedTab("CLOSED");'>Closed</a>
        </li>
      </ul>
      <table class='table table-striped table-borderless table-sm table-hover mt-2'>
        <thead>
          <tr>
              <th>Game Table</th>
              <th>Owner</th>
              <th>State</th>
              <th>Players</th>
          </tr>
        </thead>
        <tbody id='tableListBody'>
          <%// filled in by js%>
        </tbody>
      </table>
    </div>
  </div>

  <%// start create game modal %>
  <div class='modal fade' id='createGameModal' tabindex='-1' role='dialog' aria-labelledby='createGameModalLabel' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='createGameModalLabel'>Create New Game</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <form name='createGameForm'>
          <div class='modal-body'>
            <div class='input-group mb-3'>
              <input type='text' class='form-control' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' name='name' id='createGameName' />
              <div class='input-group-prepend'>
                <span class='input-group-text' id='inputGroup-sizing-default1'>Name</span>
              </div>
            </div>
            <div class='input-group mb-3'>
              <input type='password' class='form-control' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' name='password' id='createGamePassword' placeholder='optional' />
              <div class='input-group-prepend'>
                <span class='input-group-text' id='inputGroup-sizing-default2'>Password</span>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
            <input id='createGameSubmitButton' type='button' class='btn btn-primary' value='Create'/>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%// end create game modal %>
  <%// start password entry modal %>
  <div class='modal fade' id='tablePasswordModal' tabindex='-1' role='dialog' aria-labelledby='tablePasswordModalLabel' aria-hidden='true'>
    <div class='modal-dialog' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class='modal-title' id='tablePasswordModalLabel'>Enter Table Password</h5>
          <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
            <span aria-hidden='true'>&times;</span>
          </button>
        </div>
        <form name='tablePasswordForm' action='/tableEntry' method='post'>
          <div class='modal-body'>
            <div class='input-group mb-3'>
              <input type='hidden' name='tableId' value=''>
              <input type='password' class='form-control' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default' name='password' />
              <div class='input-group-prepend'>
                <span class='input-group-text' id='inputGroup-sizing-default'>Password</span>
              </div>
            </div>
          </div>
          <div class='modal-footer'>
            <button type='button' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
            <input type='submit' class='btn btn-primary' value='Enter Table' />
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function () {
  refreshTable.selectedTab = 'OPEN';
  submitAndRefresh();
  tableHeartbeat();
  _TABLELIST_HEARTBEAT = setInterval(tableHeartbeat, 1500);
});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
