<div id='lobby' class='container' v-cloak>
  <nav class='navbar navbar-default navbar-expand-md navbar-dark bg-dark'>
    <a href='/' class='navbar-brand'>Fixit</a>
    <a id='tableNameTitle' href='#' class='navbar-text ml-4' onclick='gameHeartbeat()'><%= tableName %></a>
    <a id='turnsRemainingText' href='#' class='navbar-text mr-auto ml-4'></a>
    <ul class='navbar-nav ml-auto'>
      <li id='beginGameItem' class='invisible'>
        <button class='btn btn-primary disabled' type='button' id='beginGameButton' onclick='beginGame();'>Begin Game</button>
      </li>
      <li id='leaveTableItem' class='ml-4 mr-4'>
        <button class='btn btn-info' type='button' id='leaveTableButton' onclick='leaveTable();'>Leave Table</button>
      </li>
    </ul>
    <ul class='navbar-nav dropdown-menu-left'>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='#' id='dropdown01' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><%= user.username %></a>
        <div class='dropdown-menu dropdown-menu-right' aria-labelledby='dropdown01'>
          <a class='dropdown-item' href='/logout'>Logout</a>
        </div>
      </li>
    </ul>
  </nav>

  <%- partial('./partials/scorecard.ejs') %>
  <%- partial('./partials/gameboard.ejs') %>
  <%- partial('./partials/playerhand.ejs') %>
  <%- partial('./partials/turnhistory.ejs') %>
</div>

<div id='magnifyModal' class='modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document' style='max-width: 285px;'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <img id='magnifyImg' src='' class='imagepreview' style='width: 250px;' >
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
$(document).ready(function() {
  // init
  initializeMagnifierAction();
  submitClueForm();
  chatInputOverride();
  gameHeartbeat();
  chatHeartbeat();
  _GAME_HEARTBEAT = setInterval(gameHeartbeat, 1500);
  _CHAT_HEARTBEAT = setInterval(chatHeartbeat, 1500);
});
</script>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
